### n = int(input())
if n%2 !=0:
    print("weird")
else:
    if n>=2 and n<=5:
        print("not weird")
    elif n>=6 and n<=20:
        print("weird")
    else:
        print("not weird")

In [2]:
# if else

n = int(input("enter the number:"))
result=n%2
if result !=0:
    print("weird")
elif result ==0 and n in range(2,6):
    print("not weird")
elif result ==0 and n in range (6,20):
    print("weird")
else:
    print("not weird")

enter the number: 5

weird

In [4]:
# arithematic operators
a = int(input("enter the first number:"))
b = int(input("enter the second number:"))
print(a+b)
print(a-b)
print(a*b)

enter the first number: 7
enter the second number: 6

13
1
42

In [ ]:
# loops 
n = int(input("enter the number:"))
for i in range(n):
    print(i*i)

In [ ]:
# print function
n = int(input("enter the number:"))
for i in range(1,n+1):
    print(i,end ='')

In [ ]:
# loop logic
x = int(input("enter the value x:"))
y = int(input("enter the value y:"))
z = int(input("enter the value z:"))
n = int(input("enter the value:"))
res = []
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            if i+j+k !=n:
                res.append([i,j,k])
print(res)

In [ ]:
# using list comprehension

x = int(input("enter the value x:"))
y = int(input("enter the value y:"))
z = int(input("enter the value z:"))
n = int(input("enter the value:"))
res = [[i,j,k] for i in range(x+1) for j in (y+1) for k in (z+1) if i+j+k !=n]
print(res)

In [ ]:
# nested if else
n = int(input("enter the number of students:"))
res_list = []
grades = []

for i in range(n):
    name = input("enter the name of the student:")
    marks = float(input("enter the marks of the student:"))
    res_list.append([name,marks])
    grades.append(marks)
#print(res_list)
#print(grades)
grade = sorted(set(grades))
m = grade[1]
#print(m)
name = []
for val in res_list:
    if m == val[0]:
        name.append(val[0])
#print(name)
name.sort()
print(name)
for nm in name:
    print(nm)

In [ ]:
# basic data types

n = int(input())
student_marks = {}
for i in range(n):
    name,*line = input().split()
    scores = list(map(float,line))
    student_marks[name]=scores
query_name = input()
marks=student_marks[query_name] 
print(format(sum(marks)/3),'.2f'))

In [ ]:
edibles = ["ham","eggs","spam","nuts"]

for food in edibles:
    if food == "spam":
        print("ooh God spam")
        break
        
    else:
        print ("Great I like ",food)
        print("i am so glad no spam")
print("I am out no food nuts")

In [ ]:
my_dict = {"name":"Arjun","age":25}
#my_dict["age"]=32
print(my_dict)

In [ ]:
# number guessing

number_to_be_guessed = 5
guess = 0
while guess != number_to_be_guessed:
    guess = int(input("Enter the guessed number:"))
    if guess > 0:
        if guess > number_to_be_guessed:
            print ("the number is too large")
        elif guess<number_to_be_guessed:
            print("the number is too small")
    else:
        print("sorry better luck next time")
else:
    print("Cogratulations you made it ")

In [ ]:
def greetings(name,greeting):
    print(greeting,"!",name,sep=' ')

In [ ]:
greetings('john','hello')

In [ ]:
def greetings(name, greeting="Hello"):
    print(greeting ,'! ', name, sep = '')

In [ ]:
greetings("john")

In [ ]:
def total(*arg):
    tot = 0
    for n in arg:
        tot+=n
    print(tot)

In [ ]:
total(8,6,8)

In [ ]:
def information(**kwargs):
    for key in kwargs.keys():
        print(key,":",kwargs[key])

In [ ]:
information(name="abhi",age="23")

In [6]:
def net_amount(amount,tax=18,discount=10):
    disc = (amount*discount/100)
    taxes = (amount-disc)*tax/100
    net = (amount-disc)+taxes
    print("your net Amount is :",round(net,2))

In [7]:
amount = float(input("enter the amount:"))
tax = float (input("enter the tax rate:"))
discount= float(input("enter the discount rate:"))

enter the amount: 67
enter the tax rate: 87
enter the discount rate: 79

In [8]:
return_value = net_amount(amount,tax,discount)

your net Amount is : 26.31

In [ ]:
print(return_value)

In [ ]:
temp = [23,5,45,76]
length = len(temp)
for i in range(length):
    print(temp[i])

In [ ]:
 #Python3 code to iterate over a list
list = [1, 3, 5, 7, 9]
  
# getting length of list
length = len(list)
  
# Iterating the index
# same as 'for i in range(len(list))'
for i in range(length):
    print(list[i])

In [ ]:
def degree_to_fah(T):
    return round ((9/5)*T+32,2)

In [ ]:
return_value=list(map(degree_to_fah,temp))
print(return_value)

In [ ]:
retur =list(map(lambda T:round(((9/5)*T)+32,2),temp))
print(retur)

In [ ]:
books = ['python', 'data science', 'machine learning', 'AI', 'deep learning']
size = len(books)
for it in range(0, size):
   print(books[it])

In [13]:
# writting a code to find gcd


def findHCF(x,y):
    if x>y:
        smaller = z
    else:
        smaller = x
    for i in range(1,smaller+1):
         if (x%i==0) and (y%i==0):
             hcf=i
    return hcf

In [18]:
x = int(input("enter the first number :"))
y = int(input("enter the second number:"))
print("the hcf of the given numbers is :",findHCF(x,y))

enter the first number : 6
enter the second number: 8

the hcf of the given numbers is : 2

In [22]:
# code to perform linear search
l = [21,4,67,4,7,98]
for index,value in enumerate(l,start=1):
    print(index,'-',value)

1 - 21
2 - 4
3 - 67
4 - 4
5 - 7
6 - 98

In [23]:
def linear_search(lst,target):
    for i , num in enumerate(lst):
        if num == target:
            return i
    return -1

In [25]:
numbers = [2,45,67,8,9,65]
target = 45
print("index", linear_search(numbers,target))

index 1

In [1]:
# Binary search coding

def binary_search(lst,target):
    low =0
    high = len(lst)-1
    while low<=high:
        mid = (low+high)//2
        if lst[mid]==target:
            return mid
        elif lst[mid]<target:
            low = mid+1
        else:
            high=mid-1
    return -1

In [3]:
lst = [10,20,30,40,50]
target = 40
print("resultant index",binary_search(lst,target))

resultant index 3

In [10]:
# transpose of a matrix

x = [[1,2,3],
     [4,5,6],
    ]
t = [[0,0,0],
     [0,0,0],
     [0,0,0]]

for i in range(len(x)):
    for j in range(len(x[0])):
        t[j][i]=x[i][j]
for r in t:
    print(r)

[1, 4, 0]
[2, 5, 0]
[3, 6, 0]

In [24]:
# code to linear search

def linear_search(lst,target):
    for i ,num in enumerate(lst):
        if num==target:
            return i
        else:
            return -1

In [25]:
lst = [5,8,4,9]
target = 5
print("result target",linear_search(lst,target))

result target 0

In [26]:
print("sorted list",sorted(lst))

sorted list [4, 5, 8, 9]

In [6]:
 width = 20
print ('HackerRank'.rjust(width,'-'))

----------HackerRank

In [45]:
thickness = int(input()) #This must be an odd number
c = 'H'
#Top Cone
for i in range(thickness):
   print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))
#Middle Belt
for i in range((thickness+1)//2):
   print((c*thickness*5).center(thickness*6))   

#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6)) 

for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

 5

    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

In [36]:
width = 1
print ('HackerRank'.center(width))

HackerRank

In [8]:
# sorting the dates 12-1993 12-1995 04-1996 08-2000 12-2003
n = int(input())
a = []
for i in range(n):
    a.append(input())
print(a)
ans= []
for i in a:
    p = i.split('-')
    temp = "-".join(p[::-1])
    ans.append(temp)
ans.sort()
for i in ans:
    p= i.split('-')
    temp = "-".join(p[::-1])
    print(i)

 2
  04-1996
 12-2003

[' 04-1996', '12-2003']
1996- 04
2003-12

In [7]:
numbers = [4,89,67,978,32,86,8,9,5,88,9,3,]
number_series = pd.Series(numbers)
counts = number_series.value_counts()
print(counts)

9      2
4      1
89     1
67     1
978    1
32     1
86     1
8      1
5      1
88     1
3      1
Name: count, dtype: int64

In [9]:
numbers = [4,6,34,66,3,6,7,88,7,2,1,8,44]
seen = set()
duplicates = set()
for num in numbers:
    if num is seen:
        duplicates.add(num)
    else:
        seen.add(num)
print(duplicates)

set()

In [26]:
def add_two_numbers():
    try:
        a = float(input("enter the number:"))
        b = float(input("enter the second number:"))
        return a + b
    except ValueError:
        return "invalid input . please enter the numeric value"
    except exception as e :
        return str(e)

result = add_two_numbers()
print(f"The sum of the two numbers is:" {result})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2346285500.py, line 12)

In [1]:
# finding the area of the triangle

base = float(input("enter the base of the :"))
height = float(input("enter the height of the :"))
area = 0.5*base*height
print(f"the area of the triangle is :{area}")

enter the base of the : 7
enter the height of the : 9

the area of the triangle is :31.5

In [ ]:
##### swapping of the two numbers 
a = input("enter the first number:")
b = input ("enter the second number:")
print(f"original values: a={a},b={b}")
temp = a
a = b
b = temp
print(f"swap values: a ={a},b={b}")

In [1]:
# without variabel
a = input("enter the first number:")
b = input ("enter the second number:")
a,b = b,a
print(f"after swapping:a={a},b={b}")

enter the first number: 7
enter the second number: 8

after swapping:a=8,b=7

In [8]:
# generate random numbers 
import random
print(f"Random numbers :{random.randint(1,19)}")

Random numbers :14

In [9]:
# celsius to farenh
celsius = float(input("enter the temperat32ure in celsius:"))
faren = (celsius*9/5)+32
print(f"the temperature in faren is {faren}")

enter the temperat32ure in celsius: 7

the temperature in faren is 44.6

In [15]:
# make calender
import calendar
year = int(input("enter the year:"))
month = int(input("enter the month:"))
cal = calendar.month(year,month)
print(cal)

enter the year: 2024
enter the month: 10

    October 2024
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [4]:
# check the number if positive or negative 
num = float(input("enter the numiber:"))
if num>0:
    print(f"the number is positive:{num}")
elif num ==0:
    print(f"the number is zero")
else:
    print(f"the number is negative{num}")

enter the numiber: -4

the number is negative-4.0

In [5]:
# checking the number odd or even
num = float(input("enter the num:"))
if num%2 ==0:
    print(f"the number is even:{num}")
else:
    print(f"the numver is odd:{num}")

enter the num: 8

the number is even:8.0

In [8]:
def is_leap_year(year):
    if (year%4==0)&(year%100 !=0 or year%400 ==0):
        return True
    else:
        return False

In [10]:
year = int(input("enter the year:"))
if is_leap_year(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

enter the year: 1999

1999 is not a leap year

In [11]:
is_leap_year(1999)

False